html, body, div, iframe { margin:0; padding:0; }


iframe.container{
    width:88.5%;
    height:88.5%;
    position: relative;
    top:0px;
    left:20px;
}
div.caption{
    position: relative; 
    bottom: 0; 
    width: 100%; 
    text-align: center;
}
div.square {
	background-color: white;
	border: 1px solid black;
    padding: 5px;
    
	
    /* New Stuff */
	width: 6.25%;
	height: 6.25vh;
    box-sizing: border-box;
    display: block;
    float: left;
}


/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.active {
    background: blue;
}

#Home {background-color: #0039a6;}
#News {background-color: #318ce7;}
#Contact {background-color: #507287;}
#About {background-color: #6699cc;}

/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */
.ss{
    display: flex;
    justify-content: space-between;

}
/*make divs in a row*/
.ib {
    display: flex;
}

.itemBlock {
    width: 300px;
    padding: 40px;
    font-size: 100%;
}

/* Style the tab */
.tab {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    font-size: 150%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 150%;
}

html {
    text-align: center;
}

button {
    font-size: 110%;
}

body {
    background-color: lightblue;
}

h1 {
    color: black;
    font-family: cursive;
    font-size: 300%;
}

h3 {
    color: black;
    font-size: 150%;

}

.h4 {
    font-family: cursive;
}

.h5 {
    font-family: cursive;
}

.h6 {
    font-family: cursive;
}

p {
    font-size: 100%;
}
info{
    font-size: 60%;
    font-family: "Gill Sans", sans-serif;

}
profile{
    font-size: 40%;
    font-family: "Gill Sans", sans-serif;

}


div {
    font-size: 120%;
}

.nameetage {
    margin-top: 50px;
    margin-bottom: 25px;
    align-items: center;
    background-color: black;
}

#submitButton {
    background-color: cyan;
    padding: 14px 28px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

#signature {
    text-align: right;
    color: blueviolet;
    font-style: italic;
    font-size: 150%;
}

.tarea {
    height: auto;
    width: auto;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form
{
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;

}

.row{
    display: flex;
    justify-content: center;
}

